@import "../../../styles/_variables.scss";

.currency-item-tabs {
  .mui-tabs {
    &-header {
      background-color: $bg-card-3;
      border: none;
    }

    &-panel {
      background-color: $bg-card;
    }

    .MuiTabs-flexContainer {
      padding: 15px;

      .MuiButtonBase-root.MuiTab-root {
        font-size: 20px;
        color: $grey-6;
        text-transform: none;

        &.Mui-selected {
          color: $primary-blue;
        }
      }
    }

    .MuiTabs-indicator {
      background-color: $primary-blue;
      bottom: 10px;
    }
  }
}

.buy-sell {
  &__wrapper {
    display: flex;
    justify-content: space-between;
    gap: 24px;
  }

  &-form {
    background-color: $bg-card-3;
    padding: 24px;
    width: 50%;
    
    &__wrapper {
      display: flex;
      justify-content: space-between;
      align-items: center;
      gap: 20px;

      &:nth-child(2) {
        margin-top: 30px;
      }
    }

    &__text {
      margin-top: 30px;
      color: $grey-6;
      font-size: 14px;
      text-align: center;
    }

    &__fees {
      margin-top: 10px;
      font-size: 12px;
    }

    &__btn-group {
      display: flex;
      justify-content: center;
      gap: 24px;
      margin-top: 20px;

      .MuiButtonBase-root.MuiButton-root {
        padding: 13px 26px;
        width: 72px;
        height: 30px;
      }

      .MuiButtonBase-root.MuiButton-root.MuiButton-outlined {
        font-size: 16px;
      }
    }

    .MuiFormGroup-root {
      flex-direction: row;

      .MuiFormControlLabel-root {
        // width: 20%;
      }
    }
  }
}
