@import "../../styles/_variables.scss";

.market-table {
  padding-bottom: 120px;
  position: relative;

  .table-watchlist {
    justify-content: center;

    .MuiButtonBase-root.MuiButton-root {
      width: auto;
    }
  }

  &__name-link {
    text-decoration: none;
    color: $white;

    &:hover {
      text-decoration: underline;
    }
  }
}

@media (max-width: 1023px) {
  .market-table {
    padding-bottom: 60px;

    .container {
      padding: 0 10px;
    }

    .MuiToolbar-root {
      flex-direction: column-reverse;
      row-gap: 20px;
      background-color: transparent;
      padding: 0 20px;
      margin: 20px 0;
    }

    .bg-section-spray-small {
      display: none;
    }
  }
}
