@import "../../styles/_variables.scss";

.market-table {
  padding-bottom: 120px;

  .table-watchlist {
    justify-content: center;

    .MuiButtonBase-root.MuiButton-root {
      width: auto;
    }
  }

  &__name-link {
    text-decoration: none;
    color: $white;

    &:hover {
      text-decoration: underline;
    }
  }
}

@media (max-width: 1023px) {
  .market-table {
    padding-bottom: 60px;

    .container {
      padding: 0 10px;
    }

    .MuiTable-root {
      border-collapse: separate;
      border-spacing: 0px 10px;
    }

    .MuiToolbar-root {
      flex-direction: column-reverse;
      row-gap: 25px;
      background-color: transparent;
      margin-bottom: 30px;
    }

    .MuiTableBody-root {
      .MuiTableRow-root {
        background-color: $bg-card;
      }
    }

    .MuiPaper-root.MuiTableContainer-root {
      .MuiTableRow-root {
        .MuiTableCell-root {
          padding: 14px 10px;
        }
      }
    }
  }
}

@media (max-width: 375px) {
  .market-table {
    .MuiPaper-root.MuiTableContainer-root {
      .MuiTableRow-root {
        .MuiTableCell-root {
          padding: 14px 3px;
        }
      }
    }
  }
}
