@import "../../styles/_variables.scss";

.market-table {
  padding-bottom: 120px;

  &__change {
    display: flex;
    justify-content: right;
    align-items: center;

    .MuiSvgIcon-root {
      font-size: 20px;
      margin-right: 3px;
    }
  }
  
  &__dollar-prefix {
    &::before {
      content: "$ ";
    }
  }

  &__percent-postfix {
    &::after {
      content: " %";
    }
  }
}

.MuiPaper-root.MuiTableContainer-root {
  background-color: transparent;

  .MuiTableHead-root {
    .MuiTableCell-root {
      color: $grey-8;

      .MuiButtonBase-root.MuiTableSortLabel-root {
        &:hover {
          color: green;

          .MuiSvgIcon-root {
            color: green;

          }
        }

        &.Mui-active {
          color: red;

          &:hover {
            color: green;
  
            .MuiSvgIcon-root {
              color: green;
  
            }
          }
        }

        .MuiSvgIcon-root {
          color: red;
        }
      }
    }
  }

  .MuiTableRow-root {
  }

  .MuiTableCell-root {
    color: $white-2;
    text-align: right;
    font-size: 18px;

    &:first-child {
      text-align: left;
    }
  }
}
