@import "../../styles/_variables.scss";

// .market-table {
//   padding-bottom: 120px;

//   &__change {
//     display: flex;
//     justify-content: right;
//     align-items: center;

//     .MuiSvgIcon-root {
//       font-size: 20px;
//       margin-right: 3px;
//     }
//   }

//   &-watchlist {
//     display: flex;
//     align-items: center;
//     flex-wrap: wrap;
//     max-width: 70%;
//     color: $grey-6;
//     font-size: 20px;

//     &::before {
//       content: "Watchlist";
//     }

//     .MuiButtonBase-root.MuiButton-root {
//       color: $grey-6;
//       font-size: 20px;

//       &:first-of-type {
//         margin-left: 15px;
//       }
//     }
//   }

//   &__dollar-prefix {
//     &::before {
//       content: "$ ";
//     }
//   }

//   &__percent-postfix {
//     &::after {
//       content: " %";
//     }
//   }

//   &__currency-link {
//     color: $grey-2;
//     transition: 0.15s all;
//     font-weight: 700;
//     text-decoration: none;

//     &:hover {
//       color: $grey-4;
//       transition: 0.15s all;
//       text-decoration: underline;
//     }
//   }

//   .mui-searchbar {
//     .MuiInputBase-root {
//       width: 335px;
//       background-color: transparent;
//       border: 1px solid rgba($grey-4, 0.2);
//       border-radius: 4px;
//       color: $white;

//       .MuiInputBase-input {
//         padding-left: 10px;

//         &::placeholder {
//           color: $grey-4;
//           opacity: 1;
//         }
//       }

//       &.MuiOutlinedInput-root.Mui-focused {
//         .MuiOutlinedInput-notchedOutline {
//           border-color: $white;
//         }
//       }
//     }
//   }

//   .mui-toolbar-market {
//     &.MuiToolbar-root {
//       background-color: $bg-card;
//       display: flex;
//       justify-content: space-between;
//       padding: 20px;
//     }
//   }
// }

.market-table {
  padding-bottom: 120px;
}
