@import "../../styles/_variables.scss";

.entry {
  &__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap: 30px;

    &-left {
      width: 35%;
      min-width: 350px;
      text-align: center;
      position: relative;
    }

    &-right {
      max-width: 65%;
    }
  }

  &__image {
    width: 100%;
    height: auto;
  }

  &__title {
    font-size: 36px;
    font-weight: 600;
    margin-bottom: 40px;
  }

  &-form {
    &__wrapper {
      display: flex;
      justify-content: space-between;
      column-gap: 30px;

      &-left,
      &-right {
        position: relative;
        width: calc(100% - 15px);
      }
    }

    &__wrapper-password {
      position: relative;
    }

    &__password-hint {
      color: $grey-8;
      font-size: 16px;
      text-align: right;
      margin-top: 10px;
    }

    &__terms {
      display: flex;
      align-items: center;
      text-align-last: left;
      margin-top: 18px;

      &-link {
        text-decoration: none;
        color: $grey-2;
        margin-left: 3px;
        font-size: 14px;
        font-weight: 600;
        line-height: 250%;

        &:hover {
          text-decoration: underline;
        }
      }
    }

    &__helper {
      color: $error;
      position: absolute;
      right: 0;
      margin-top: 3px;

      &::first-letter {
        text-transform: capitalize;
      }
    }
  }

  &__password-recover {
    color: $grey-2;
    font-size: 16px;
    margin-top: 20px;
    display: inline-block;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }

  &-change-entry {
    margin-top: 40px;

    &__text {
      color: $grey-6;
      font-size: 16px;
      display: inline;
      margin-right: 4px;
    }

    &__link {
      color: $grey-2;
      font-size: 16px;
      font-weight: 600;
      text-decoration: none;

      &:hover {
        text-decoration: underline;
      }
    }
  }

  &__copyright {
    color: $grey-8;
    font-size: 16px;
  }
}

.input-text {
  &.MuiFormControl-root.MuiTextField-root {
    border: 1px solid rgba($white, 0.16);
    border-radius: 4px;
    width: 100%;
  }

  .MuiInputBase-input.MuiOutlinedInput-input {
    color: $white;
    font-size: 16px;

    &::placeholder {
      color: $grey-6;
      opacity: 1;
      font-size: 16px;
    }
  }

  .MuiInputBase-root.MuiOutlinedInput-root {
    &.Mui-focused fieldset {
      border: 1px solid $white;
    }

    &.Mui-focused.Mui-error {
      outline: 1px solid $error;

      fieldset {
        border-color: $error;
      }
    }

    &.Mui-error {
      fieldset {
        border-color: $error;
      }
    }
  }
}

.label-text {
  &.MuiFormLabel-root.MuiInputLabel-root {
    text-align-last: left;
    font-size: 16px;
    color: $grey-4;
    font-weight: 600;
    padding-bottom: 5px;
    margin-top: 25px;
  }

  &_m0 {
    &.MuiFormLabel-root.MuiInputLabel-root {
      margin-top: 0;
    }
  }
}

.adornment-toggle-visibility {
  &:focus-visible {
    outline: 1px solid $white;
  }

  .MuiSvgIcon-root {
    font-size: 26px;
    color: $white;
  }
}

.adornment-send-code {
  &.MuiIconButton-root {
    color: $primary-blue;
    font-size: 16px;
  }
}
