@import "../../styles/_variables.scss";

.entry {
  &__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap: 30px;

    &-left {
      width: 35%;
      min-width: 350px;
      text-align: center;
    }

    &-right {
      max-width: 65%;
    }
  }

  &__image {
    width: 100%;
    height: auto;
  }

  &__title {
    font-size: 36px;
    font-weight: 600;
    margin-bottom: 60px;
  }

  &-form {
    &__wrapper {
      display: flex;
      justify-content: space-between;
      column-gap: 30px;

      &-left,
      &-right {
        width: calc(100% - 15px);
      }
    }

    &__label {
      display: block;
      text-align: left;
      width: 100%;
      font-size: 16px;
      font-weight: 600;
      color: $grey-4;
      padding-bottom: 8px;
      margin-top: 30px;

      &:first-child {
        margin: 0;
      }
    }

    &__input {
      display: block;
      width: calc(100% - 29px);
      background-color: transparent;
      padding: 14px;
      border: 1px solid rgba(255, 255, 255, 0.16);
      border-radius: 4px;

      &::placeholder {
        color: $grey-6;
        font-size: 16px;
      }
    }

    &__wrapper-password {
      position: relative;
    }

    &__toggle-password {
      position: absolute;
      top: 0;
      right: 0;
      padding: 0 20px 0 10px;
      height: 100%;
      background-color: transparent;
      border: none;
      cursor: pointer;
    }

    // https://www.w3schools.com/howto/howto_css_custom_checkbox.asp
    // TODO: check mui checkbox (maybe easier way)
    &__checkbox {
      display: inline;
      position: relative;
      cursor: pointer;

      &:hover {
        .entry-form__checkbox-mark {
          background-color: #ccc;
        }
      }

      &-input {
        position: absolute;
        opacity: 0;
        cursor: pointer;
        height: 0;
        width: 0;
      }

      &-mark {
        position: absolute;
        top: 0;
        left: 0;
        width: 14px;
        height: 14px;
        background-color: transparent;
        border: 1px solid $grey-8;
        border-radius: 2px;

        &:after {
          content: "";
          position: absolute;
          display: block;
          left: 20%;
          // top: 50%;
          width: 5px;
          height: 10px;
          border: solid white;
          border-width: 0 3px 3px 0;
          -webkit-transform: rotate(45deg);
          -ms-transform: rotate(45deg);
          transform: rotate(45deg);
        }
      }
    }

    &__terms {
      text-align-last: left;
      margin-top: 30px;

      &-label {
        margin-left: 10px;
        color: $grey-6;
        font-size: 14px;
      }

      &-link {
        text-decoration: none;
        color: $grey-2;
        margin-left: 3px;
        font-size: 14px;
        font-weight: 600;

        &:hover {
          text-decoration: underline;
        }
      }
    }
  }

  &__password-recover {
    color: $grey-2;
    font-size: 16px;
    margin-top: 20px;
    display: inline-block;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }

  &-goto-login,
  &-goto-signup {
    margin-top: 40px;

    &__text {
      color: $grey-6;
      font-size: 16px;
      display: inline;
      margin-right: 4px;
    }

    &__link {
      color: $grey-2;
      font-size: 16px;
      font-weight: 600;
      text-decoration: none;

      &:hover {
        text-decoration: underline;
      }
    }
  }

  &__copyright {
    color: $grey-8;
    font-size: 16px;
  }
}
