@import "../../styles/_variables.scss";

.referral-link {
  padding: 120px 0;
  text-align: center;

  &__title {
    color: $white;
    font-size: clamp(42px, 5vw, 58px);
    font-weight: 600;
  }

  &__subtitle {
    color: $grey-6;
    font-style: normal;
    line-height: 28px;
    width: 75%;
    margin: 30px auto 0 auto;
  }
}

@media (max-width: 1023px) {
  .referral-link {
    padding: 60px 0;
  }
}
