@import "../../styles/_variables.scss";

.simple-step {
  padding: 120px 0;
  position: relative;
  overflow: hidden;

  &__title {
    text-align: center;
    font-size: 58px;
    margin-top: 6px;
  }

  &__subtitle {
    color: $grey-5;
    text-align: center;
    font-size: 18px;
    line-height: normal;
    margin-top: 36px;
  }

  &-items {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 30px;
    margin-top: 59px;
  }

  &-item {
    background: $bg-card-3;
    padding: 60px 30px;
    border-radius: 10px;
    text-align: center;
    max-width: 315px;

    &__icon {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 62px;
      height: 62px;
      border-radius: 100%;
      margin: 0 auto;
    }

    &__title {
      font-size: 24px;
      font-weight: 600;
      margin-top: 46px;
    }

    &__text {
      color: $grey-6;
      font-size: 16px;
      line-height: 24px;
      margin-top: 24px;
    }
  }
}

.w65pr {
  max-width: 65%;
  margin: 0 auto;
}
