@import "../../styles/_variables.scss";

.refer-why-us {
  padding: 60px 0 120px 0;

  &-wrapper {
    display: flex;
    align-items: center;
  }

  &__img {
    width: 50%;
    height: auto;
    text-align: right;
    margin-right: 40px;
    position: relative;

    img {
      width: 79%;
      height: auto;
      vertical-align: middle;
    }
  }

  &-item {
    &__number {
      color: rgba($color: $white, $alpha: 0.2);
      font-size: 46px;
      font-weight: 600;
    }

    &__title {
      color: $white;
      font-size: 58px;
      font-weight: 600;
      margin-top: 20px;
    }

    &__description {
      color: $grey-6;
      line-height: 28px;
      margin-top: 30px;
    }
  }
}

.refer-why-us-swiper-wrapper {
  width: 50%;
}
