@import "../../styles/_variables.scss";

.refer-why-us {
  padding: 60px 0 120px 0;

  &-wrapper {
    display: flex;
    align-items: center;
  }

  &__img {
    width: 50%;
    height: auto;
    text-align: right;
    margin-right: 40px;
    position: relative;

    img {
      width: 79%;
      height: auto;
      vertical-align: middle;
    }
  }

  &-item {
    &__number {
      color: $grey-8;
      font-size: 46px;
      font-weight: 600;
    }

    &__title {
      color: $white;
      font-size: clamp(42px, 5vw, 58px);
      font-weight: 600;
      margin-top: 20px;
    }

    &__description {
      color: $grey-6;
      line-height: 28px;
      margin-top: 30px;
    }
  }
}

.refer-why-us-swiper-wrapper {
  width: 50%;
}

@media (max-width: 1023px) {
  .refer-why-us {
    padding: 60px 0;

    &-wrapper {
      flex-direction: column-reverse;
      row-gap: 40px;
      text-align: center;
    }

    &__img {
      margin: 0;
      width: 75%;
      position: relative;
      left: -10%;
    }

    .bg-img-spray_round {
      left: 60%;
    }
  }

  .refer-why-us-swiper-wrapper {
    width: 85%;
  }
}
