@import "../../styles/_variables.scss";

.market-trends {
  padding: 129px 0 120px 0;

  &__title {
    font-size: clamp(42px, 5vw, 58px);
    font-weight: 700;
  }

  &__header-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    row-gap: 15px;
  }

  &__filters {
    display: inline;
  }

  &-items {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 15px;
    margin-top: 60px;
    min-height: 394px;
  }

  &-item {
    width: 180px;
    min-height: 310px;
    padding: 40px 30px;

    color: $white;
    border-radius: 10px;
    border: 2px solid $bg-card;

    text-align: center;
    text-decoration: none;
    transition: 0.35s all;

    &:hover {
      box-shadow: 0px 0px 20px 10px $bg-card;
      transition: 0.35s all;
    }

    &__image {
      width: 48px;
      height: 48px;
      margin: 0 auto;

      img {
        width: 100%;
        height: auto;
      }
    }

    &__name {
      font-size: 20px;
      margin-top: 25px;
    }

    &__price-change-wrapper {
      display: flex;
      justify-content: center;
      align-items: center;
      margin-top: 16px;
    }

    &__price-change {
      display: inline-block;
      font-size: 16px;
      margin-left: 2px;
      font-weight: 600;
      color: $success;

      &::after {
        content: "%";
      }
    }

    &__current-price {
      font-size: 24px;
      font-weight: 600;
      margin-top: 27px;

      &::before {
        content: "$ ";
      }
    }

    &__graph {
      margin-top: 23px;
    }
  }

  &__link {
    margin-top: 56px;
    text-align: center;
  }
}

.featured-coins {
  &__title {
    color: $white;
    font-size: 46px;
    font-weight: 600;
    text-align: center;
  }

  &__header-wrapper {
    text-align: center;
  }
}

@media (max-width: 1589px) {
  .market-trends {
    &-item {
      flex: 1 0 21%;
    }
  }
}

@media (max-width: 1199px) {
  .market-trends {
    padding: 60px 0;
    &__header-wrapper {
      flex-direction: column;
    }
  }
}

@media (max-width: 1023px) {
  .market-trends {
    &-items {
      margin-top: 40px;
    }
  }

  .featured-coins {
    display: none;
  }
}

@media (max-width: 767px) {
  .market-trends {
    &__header-wrapper {
      text-align: center;
    }

    &__filters {
      margin-top: 20px;
    }
  }
}
