@import "../../styles/_variables.scss";

.welcome {
  padding: 160px 0 30px 0;

  &__wrapper {
    display: flex;
    align-items: center;

    &-left {
      width: calc(1590px - 680px);
    }

    &-right {
      position: relative;
      width: calc(1590px - (1590px - 680px));
    }
  }

  &__name {
    position: relative;
    display: inline-block;
    color: $primary-blue;
    font-size: 24px;
    font-weight: 600;
    margin-left: 50px;
    margin-top: 6px;
    margin-bottom: 0;
  }

  &__title {
    color: $primary-white;
    font-size: clamp(38px, 5vw, 92px);
    font-weight: 700;
    line-height: 1.39;
    letter-spacing: 0.25px;
    margin-top: 12px;
    margin-bottom: 0;
  }

  &__img {
    width: 100%;
    height: auto;
  }

  &__subtitle {
    color: $grey-6;
    font-size: 20px;
    line-height: 32px;
    margin-top: 17px;
  }

  &__buttons {
    margin-top: 80px;
    display: flex;
    align-items: center;
    gap: 30px;
  }

  &-market {
    margin-top: 139px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;

    &-item {
      padding: 10px 40px 10px 20px;
      position: relative;

      &__wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;
      }

      &__name {
        color: $grey-6;
        font-size: 16px;
        text-transform: uppercase;
        margin-right: 12px;
      }

      &__price-change {
        margin-left: 7px;
        font-size: 14px;
        font-weight: 600;
        color: $success;

        &::after {
          content: "%";
        }
      }

      &__current-price {
        text-align: center;
        font-size: 20px;
        font-weight: 600;
        margin-top: 17px;

        &::before {
          content: "$ ";
        }
      }
    }
  }
}

@media (max-width: 1023px) {
  .welcome {
    padding-top: 70px;

    &__wrapper {
      flex-direction: column-reverse;

      &-left,
      &-right {
        width: auto;
      }

      &-left {
        text-align: center;
      }
    }

    &__name {
      margin-top: 40px;
    }

    &__title {
      margin-bottom: 16px;
    }

    &__subtitle {
      font-size: 18px;
    }

    &__buttons {
      flex-direction: column;
      justify-content: center;
    }

    &-market {
      display: none;
    }

    .MuiButtonBase-root.MuiButton-root {
      &.MuiButton-outlined {
        background-color: $white;
        color: $primary-blue;
        &:hover {
          color: $black;
        }
      }
    }
  }
}

