@import "../../styles/_variables.scss";

.faq {
  position: relative;
  overflow: hidden;
  padding: 120px 0 60px 0;
  min-height: 796px;

  &__title {
    font-size: clamp(42px, 5vw, 58px);
    font-weight: 700;
    text-align: center;
    line-height: normal;
  }

  &__subtitle {
    margin-top: 30px;
    text-align: center;
    color: $grey-6;
  }

  &-accordions {
    margin-top: 60px;
    display: flex;
    flex-wrap: wrap;
    gap: 30px;

    &-column {
      display: flex;
      flex-direction: column;
      row-gap: 30px;
      flex: calc(50% - 15px);
    }
  }
}

@media (max-width: 1023px) {
  .faq {
    padding: 60px 0;

    &-accordions {
      margin-top: 40px;
      flex-direction: column;
    }
  }
}