@import "../../styles/_variables.scss";

.why-choose-us {
  position: relative;
  padding: 142px 0 136px 0;
  overflow: hidden;

  &__title {
    font-size: clamp(42px, 5vw, 58px);
    text-align: center;
  }

  &__subtitle {
    color: $grey-6;
    text-align: center;
    margin-top: 36px;
  }

  &__img {
    width: 100%;
    height: auto;
  }

  &__wrapper {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    row-gap: 30px;
    margin-top: 60px;

    &-left {
      display: flex;
      flex-direction: column;
      flex: 50%;
    }

    &-right {
      display: flex;
      justify-content: center;
      align-items: center;
      flex: 50%;
    }
  }

  &-item {
    display: flex;
    align-items: center;
    column-gap: 18px;

    &__number {
      color: $grey-8;
      font-size: 58px;
    }

    &__wrapper {
      max-width: 50%;
    }

    &__title {
      color: $grey-6;
      font-size: 24px;
      font-weight: 600;
      margin-top: 6px;
    }

    &__text {
      color: $grey-8;
      font-size: 16px;
      line-height: 24px;
      margin-top: 17px;
    }
  }
}

@media (max-width: 1023px) {
  .why-choose-us {
    padding: 60px 0;

    &__wrapper {
      margin-top: 40px;
    }
  }
}

@media (max-width: 767px) {
  .why-choose-us {
    &__wrapper {
      flex-direction: column;
    }

    &__subtitle {
      line-height: 26px;
    }

    &-item {
      flex-direction: column;
      text-align: center;

      .MuiButtonBase-root.MuiButton-root {
        width: 75%;
        margin: 25px 0 0;
        background-color: $primary-blue;
      }
    }
  }
}
