@import "../../styles/_variables.scss";

.why-choose-us {
  position: relative;
  padding: 142px 0 136px 0;
  overflow: hidden;

  &__title {
    font-size: 58px;
    text-align: center;
  }

  &__subtitle {
    color: $grey-6;
    text-align: center;
    margin-top: 36px;
  }

  &__img {
    width: 100%;
    height: auto;
  }

  &__wrapper {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 60px;

    &-left {
      display: flex;
      flex-direction: column;
      flex: 50%;
    }

    &-right {
      display: flex;
      justify-content: center;
      align-items: center;
      flex: 50%;
    }
  }

  &-item {
    display: flex;
    align-items: center;
    column-gap: 20px;

    &__number {
      // color: $bg-card-3;
      color: $grey-8;
      font-size: 58px;
    }

    &__wrapper {
      max-width: 50%;
    }

    &__title {
      color: $grey-6;
      font-size: 24px;
      font-weight: 600;
      margin-top: 6px;
    }

    &__text {
      color: $grey-8;
      font-size: 16px;
      line-height: 24px;
      margin-top: 17px;
    }
  }
}
