@import "../styles/_variables.scss";

.v-line_small {
  &::after {
    content: "";
    position: absolute;
    background-color: $grey-6;
    opacity: 0.4;
    height: 90%;
    width: 1px;
    right: -20%;
    top: 50%;
    transform: translateY(-50%);
  }
}

.v-line_grey {
  position: relative;
  background-color: $grey-6;
  opacity: 0.2;
  height: 40px;
  width: 1px;

  right: 0;
  top: 0;
}

.h-line {
  width: 100%;
  height: 1px;
  margin: 0 auto;
  margin-top: 60px;
  border: none;

  background-image: linear-gradient(
    90deg,
    rgba(255, 255, 255, 0.04) 0%,
    rgba(255, 255, 255, 0.2) 48.42%,
    rgba(255, 255, 255, 0.04) 100%
  );
}

@media (max-width: 1023px) {
  .h-line {
    margin-top: 40px;
  }
}

.h-line_halfed {
  width: 100%;
  height: 1px;
  margin: 0 auto;
  margin-top: 38px;
  margin-bottom: 40px;
  border: none;

  background: linear-gradient(90deg, #fff 0%, rgba(255, 255, 255, 0.02) 100%);
  opacity: 0.2;
}

.h-line_small-blue {
  &::before {
    content: "";
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: -50px;
    border-radius: 4px;

    width: 40px;
    height: 2px;
    background-color: $primary-blue;
  }
}

.h-line_dotted {
  width: 60%;
  height: 2px;
  margin: 0 auto;

  background-size: 12px 1px, 100% 1px;
  border: none;
  background-image: linear-gradient(90deg, transparent, transparent 65%, $bg-page 50%, $bg-page 100%),
    linear-gradient(90deg, rgba(154, 195, 33, 0.1) 0%, rgba(135, 170, 28, 0.8) 48.42%, rgba(154, 195, 33, 0.1) 100%);
}
