@import "../styles/_variables.scss";

.vertical-separator__small {
  &::after {
    content: "";
    position: absolute;
    background-color: $grey-6;
    opacity: 0.4;
    height: 90%;
    width: 1px;
    right: -20%;
    top: 50%;
    transform: translateY(-50%);
  }
}

.horizontal-separator__small-blue {
  &::before {
    content: "";
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: -50px;
    border-radius: 4px;

    width: 40px;
    height: 2px;
    background-color: $primary-blue;
  }
}

.horizontal-separator__dotted {
  width: 60%;
  height: 2px;
  margin: 0 auto;

  background-size: 12px 1px, 100% 1px;
  border: none;
  background-image: 
    linear-gradient(
      90deg, 
      transparent, 
      transparent 65%, 
      $bg-page 50%, 
      $bg-page 100%
    ),
    linear-gradient(
      90deg, 
      rgba(154, 195, 33, 0.1) 0%, 
      rgba(135, 170, 28, 0.8) 48.42%, 
      rgba(154, 195, 33, 0.1) 100%
    );
}