@import "./_variables.scss";

.bg-img-spray_round {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: -1;
  box-shadow: 0px 0px 15em 15em $bg-blur-1;
  opacity: 0.1;
}

.bg-img-spray_wide {
  position: absolute;
  top: 50%;
  left: 25%;
  z-index: -1;
  box-shadow: 0px 0px 12em 9em $bg-blur-1;
  opacity: 0.1;
}

.bg-section-spray-big {
  position: absolute;
  top: 55%;
  left: 50%;
  width: 60%;
  transform: translate(-50%, -50%);
  z-index: -1;
  box-shadow: 0px 0px 15em 27em $bg-card-3;
  opacity: 0.7;
}

.bg-section-spray-small {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 60%;
  transform: translate(-50%, -50%);
  z-index: -1;
  box-shadow: 0px 0px 15em 15em $bg-card-3;
  opacity: 0.7;
}

.spray_dark {
  box-shadow: 0px 0px 15em 15em $bg-card;
}

@media (max-width: 1023px) {
  .bg-img-spray_round {
    box-shadow: 0px 0px 7em 7em $bg-blur-1;
  }
}