$primary-blue: #1b70f1;
$primary-blue-dark: #1151b6;

$bg-page: #131517;
$bg-card: #1e1f25;
$bg-card-3: #272a34;
$black: #000000;
$bg-blur-1: #5570fe;

$primary-white: #f7faff;
$white: #ffffff;

$grey-5: #bfc4cd;
$grey-6: #adb3bf;
$grey-8: #808a9a;

$success: #06b470;
$error: #f74e2c;
$extra: #ffba3a;

:export {
  primaryBlue: $primary-blue;
  primaryBlueDark: $primary-blue-dark;

  bg-page: $bg-page;
  bgCard: $bg-card;
  bgCard3: $bg-card-3;
  black: $black;
  bgBlur1: $bg-blur-1;

  primaryWhite: $primary-white;
  white: $white;

  grey5: $grey-5;
  grey6: $grey-6;
  grey8: $grey-8;

  error: $error;
  success: $success;
  extra: $extra;
}
