$primary-blue: #1b70f1;
$primary-blue-dark: #1151b6;

$bg-card-2: #1e1f25;
$bg-blur-1: #5570fe;

$primary-white: #f7faff;
$white: #ffffff;

$grey-5: #bfc4cd;
$grey-6: #adb3bf;
$grey-8: #808a9a;

$card-bg: #1e1f25;
$black: #000000;

$success: #06b470;
$error: #f74e2c;
$extra: #ffba3a;