@import "../styles/_variables.scss";

:root {
  font-family: 'Source Sans 3', sans-serif;
  font-weight: 400;
  font-size: 18px;
  background-color: $bg-page;
  color: $white;
}

.container {
  max-width: 1590px;
  margin: 0 auto;
}
