@import "../styles/_variables.scss";
@import "../styles/_separators.scss";
@import "../styles/_animations.scss";

@import "../styles/muiTheme.scss";

:root {
  color-scheme: dark;
  font-family: "Source Sans 3", sans-serif;
  font-weight: 400;
  font-size: 18px;
  background-color: $bg-page;
  color: $white;
  scroll-behavior: smooth;
}

:focus-visible {
  outline: 1px solid $white;
  border-radius: 4px;
}

.container {
  max-width: 1590px;
  margin: 0 auto;
  position: relative;
}

.container_overflow-hidden {
  max-width: 1590px;
  margin: 0 auto;
  position: relative;
  overflow: hidden;
}

.undraggable {
  user-select: none;
  -moz-user-select: none;
  -webkit-user-drag: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

.success {
  color: $success;
}

.error {
  color: $error;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

.hidden {
  display: none;
}
