@import "../styles/_variables.scss";

:root {
  color-scheme: dark;
  font-family: "Source Sans 3", sans-serif;
  font-weight: 400;
  font-size: 18px;
  background-color: $bg-page;
  color: $white;
}

.container {
  max-width: 1590px;
  margin: 0 auto;
  position: relative;
}

.undraggable {
  user-select: none;
  -moz-user-select: none;
  -webkit-user-drag: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

.success {
  color: $success;
}

.error {
  color: $error;
}