@import "../styles/_variables.scss";

.vertical-separator {
  
  &::after {
    content: '';
    position: absolute;
    background-color: $grey-6;
    opacity: 0.4;
    height: 90%;
    width: 1px;
    right: -25%;
    top: 50%;
    transform: translateY(-50%);
  }
}