@import "../../styles/_variables.scss";

.header {
  min-height: 56px;
  background-color: $bg-card;
  padding: 32px 0;

  &__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
  }

  &-logo {
    position: relative;
    // border: 1px solid red;
    &__link {
      display: block;
    }
    &__img {
      max-height: 46px;
    }
  }

  &__links {
    display: flex;
    justify-content: center;
    width: 50%;
  }

  &__link {
    color: $grey-6;
    text-decoration: none;
    font-size: 18px;
    padding: 8px 18px;
    margin: 0 15px;

    &:hover {
      text-decoration: underline;
    }
  }
}
