@import "../../styles/_variables.scss";

.header {
  min-height: 56px;
  background-color: $bg-card;
  padding: 32px 0;

  &__buttons {
    display: flex;
    gap: 10px;
  }

  &__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
  }

  &-logo {
    position: relative;
    
    &__link {
      display: block;
      height: 46px;
    }
    &__img {
      height: 100%;
      width: auto;
    }
  }

  &__list {
    list-style-type: none;
    display: flex;
    justify-content: center;
  }

  &__link {
    color: $grey-6;
    text-decoration: none;
    font-size: 18px;
    padding: 8px 18px;
    margin: 0 15px;

    &:hover {
      text-decoration: underline;
    }
  }

  &-burger {
    display: none;
  }
}

@media (max-width: 1023px) {
  .header {
    border-radius: 0 0 10px 10px;
    border-bottom: 1px solid rgba($color: $white, $alpha: .1);

    &-burger {
      display: flex;
      gap: 15px;
    }
  }
}

// burger appears with rotation (https://stackoverflow.com/questions/6652476/how-can-i-set-a-rotation-point-for-an-element-in-css)