@import "../../styles/_variables.scss";

.header {
  min-height: 56px;
  background-color: $bg-card;
  padding: 32px 0;

  &__buttons {
    display: flex;
    gap: 10px;
  }

  &__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
  }

  &-logo {
    position: relative;

    &__link {
      display: block;
      height: 46px;
    }
    &__img {
      height: 100%;
      width: auto;
    }
  }

  &__list {
    list-style-type: none;
    display: flex;
    justify-content: center;
  }

  &__link {
    color: $grey-6;
    text-decoration: none;
    font-size: 18px;
    padding: 8px 18px;
    margin: 0 15px;

    &:hover {
      text-decoration: underline;
    }
  }

  &-burger {
    display: none;
  }
}

.mobile-nav {
  display: none;
}

@media (max-width: 1023px) {
  .header {
    position: relative;
    border-radius: 0 0 10px 10px;
    border-bottom: 1px solid rgba($color: $white, $alpha: 0.1);

    &-logo {
      &::after {
        display: none;
      }

      &__link {
        height: 40px;
      }
    }

    &-burger {
      display: flex;
      gap: 10px;
    }

    &-nav-mobile-hidden {
      display: none;
    }

    &__list {
      flex-direction: column;
      align-items: center;

      li {
        padding: 20px 5px;
      }
    }

    &__buttons {
      margin-top: 15px;
      flex-direction: column;
      align-items: center;
    }

    .mobile-nav {
      display: flex;
      justify-content: center;
      align-items: center;
      position: fixed;
      top: 0px;
      left: 0px;
      width: 100vw;
      height: 100vh;
      border-radius: 10px;
      z-index: 100;
      transform-origin: top right;
      transform: rotate(90deg);
      transition: 0.5s ease-in-out;
      background-color: rgba($color: $black, $alpha: 0.75);
      opacity: 0;

      &__wrapper {
        position: relative;
        background-color: $bg-card;
        padding: 35px 0;
        width: calc(100% - 50px);
        border-radius: 4px;
      }

      &-active {
        transform: rotate(0deg);
        transition: 0.5s ease-out;
        opacity: 1;
      }

      &__close {
        position: absolute;
        right: 5px;
        top: 5px;
      }
    }
  }
}
