@import "../../styles/_variables.scss";

.footer {
  padding: 120px 0 48px;
  position: relative;
  overflow: hidden;

  &__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &-logo {
    position: relative;

    &__link {
      display: block;
      height: 46px;
    }
    &__img {
      height: 100%;
      width: auto;
    }
  }

  &-socials {
    font-size: 20px;

    &::before {
      content: "Community-";
      position: relative;
      top: -0.5rem;
      margin-right: 10px;
    }
  }

  &-social {
    &__link {
      display: inline-block;
      position: relative;
      width: 28px;
      height: 28px;
      padding: 5px;
      transition: 0.25s all;
      margin-left: 17px;
      border: 1px solid transparent;

      &:hover {
        animation: shakeIn 0.25s;
        background-color: $bg-page;
        border: 1px solid $white;
        border-radius: 100%;
        transition: 0.25s all;
      }

      img {
        width: 100%;
        height: 100%;
      }
    }
  }

  &-links {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    column-gap: 10px;
    row-gap: 30px;
    margin-top: 65px;
    padding-bottom: 6px;

    &__block {
      width: calc((100% / 6) - 10px);
      min-width: 150px;
    }

    &__link {
      color: $grey-6;
      margin-top: 21px;

      a {
        color: $grey-6;
        font-size: 16px;
        text-decoration: none;
      }

      &:hover {
        text-decoration: underline;
      }

      &:nth-of-type(2) {
        margin-top: 29px;
      }
    }
  }

  &-other {
    margin-top: 70px;
    font-size: 16px;

    &__text {
      display: inline;
    }

    &__dot {
      display: inline-block;
      width: 6px;
      height: 6px;
      opacity: 0.4;
      border-radius: 100%;
      background-color: $white;
      margin: 0 20px;
    }
  }

  &-mobile-socials {
    display: none;
  }
}

@media (max-width: 1023px) {
  .footer {
    padding: 60px 0 25px 0;

    &-links {
      margin-top: 40px;

      &__block {
        flex: 1 0 25%;
      }

      &__link {
        margin-top: 12px;

        &:nth-of-type(2) {
          margin-top: 20px;
        }
      }
    }

    &__wrapper {
      justify-content: center;
    }

    &-desktop-socials {
      display: none;
    }

    &-mobile-socials {
      display: block;
      text-align: center;
    }

    &-socials {
      margin-top: 40px;
      &::before {
        display: block;
        margin: 0;
      }
    }

    &-social {
      &__link {
        &:first-of-type {
          margin: 0;
        }
      }
    }

    &-other {
      display: block;
      position: relative;
      margin: 40px 0 50px 0;
      text-align: center;

      &__copyright {
        color: $grey-8;
        display: block;
        position: absolute;
        bottom: -50px;
        left: 50%;
        transform: translate(-50%);
        width: 100%;
      }

      &__dot {
        &:first-of-type {
          display: none;
        }
      }
    }
  }
}
