@import "../../styles/_variables.scss";

.footer {
  padding: 120px 0 40px;
  position: relative;
  overflow: hidden;

  &__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &-logo {
    position: relative;

    &__link {
      display: block;
      height: 46px;
    }
    &__img {
      height: 100%;
      width: auto;
    }
  }

  &-socials {
    font-size: 20px;

    &::before {
      content: "Community-";
      position: relative;
      top: -0.5rem;
      margin-right: 10px;
    }
  }

  &-social {
    &__link {
      display: inline-block;
      position: relative;
      width: 28px;
      height: 28px;
      padding: 5px;
      transition: 0.25s all;
      margin-left: 17px;
      border: 1px solid transparent;

      &:hover {
        animation: shakeIn 0.25s;
        background-color: $bg-page;
        border: 1px solid $white;
        border-radius: 100%;
        transition: 0.25s all;
      }

      img {
        width: 100%;
        height: 100%;
      }
    }
  }

  &-links {
    display: flex;
    justify-content: center;
    column-gap: 30px;
    margin-top: 65px;
    padding-bottom: 6px;

    &__block {
      width: calc(100% / 6);
    }

    &__link {
      margin-top: 21px;
      a {
        color: $grey-6;
        font-size: 16px;
        text-decoration: none;
      }

      &:hover {
        text-decoration: underline;
      }

      &:nth-of-type(2) {
        margin-top: 29px;
      }
    }
  }
}

.mt-51px {
  margin-top: 51px;
}