.footer {
  padding: 120px 0 40px;
  position: relative;
  overflow: hidden;

  &__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &-logo {
    position: relative;
    
    &__link {
      display: block;
      height: 46px;
    }
    &__img {
      height: 100%;
      width: auto;
    }
  }

  &-socials {

    &::before {
      content: "Community-";
      // position: relative;
      // top: -10px; //!
    }
  }

  &-social {

    &__link {
      display: inline-block;
      width: 28px;
      height: 28px;
      padding: 5px;

      img {
        width: 100%;
        height: 100%;
      }
    }

  }
}