@import "../../styles/_variables.scss";

.testimonials {
  padding: 125px 0;
  overflow: hidden;

  &__wrapper {
    display: flex;
    align-items: center;
    column-gap: 72px;
  }

  &__title {
    font-size: 58px;
  }

  &__text {
    color: $grey-6;
    line-height: 28px;
  }

  &-item {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 585px;
    min-height: 246px;
    padding: 40px 30px;
    gap: 30px;
    border-radius: 10px;
    background: $bg-card-3;

    &__thumbnail {
      width: 72px;
      height: 72px;
      border-radius: 100%;
      overflow: hidden;
      display: inline-block;

      img {
        width: 100%;
        height: auto;
      }
    }

    &__name {
      padding-left: 20px;
      font-size: 20px;
      font-weight: 600;
      line-height: 32px; /* 160% */
    }

    &__country {
      padding-left: 20px;
      color: $grey-5;
      font-size: 14px;
    }

    &__review {
      font-size: 24px;
      font-style: normal;
      font-weight: 400;
      line-height: 36px; /* 150% */

      &::before {
        content: "\“ ";
      }

      &::after {
        content: " \“";
      }
    }

    &__wrapper {
      width: 100%;
      display: flex;
      justify-content: space-between;
      // align-items: center;

      &-left {
        display: flex;
        align-items: center;
      }
    }
  }
}

swiper-container {
  margin-top: 60px;
}

swiper-slide {
}
