@import "../../styles/_variables.scss";

.table {
  &__image {
    width: 32px;
    height: 32px;
    display: inline-block;

    img {
      width: 100%;
      height: auto;
    }
  }

  &__change {
    display: flex;
    justify-content: right;
    align-items: center;

    .MuiSvgIcon-root {
      font-size: 20px;
      margin-right: 3px;
    }
  }

  &__dollar-prefix {
    white-space: nowrap;

    &::before {
      content: "$ ";
    }
  }

  &__percent-postfix {
    white-space: nowrap;

    &::after {
      content: " %";
    }
  }

  &__currency-link {
    color: $grey-2;
    transition: 0.15s all;
    font-weight: 700;
    text-decoration: none;

    &:hover {
      color: $grey-4;
      transition: 0.15s all;
      text-decoration: underline;
    }
  }

  &-watchlist {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    max-width: 70%;
    color: $grey-6;
    font-size: 20px;

    &::before {
      content: "Watchlist";
    }

    .MuiButtonBase-root.MuiButton-root {
      color: $grey-6;
      font-size: 20px;

      &:first-of-type {
        margin-left: 15px;
      }
    }
  }

  &-cell {
    &.MuiTableCell-root {
      display: flex;
      align-items: center;
      gap: 15px;
    }
  }
}

.mui-searchbar {
  .MuiInputBase-root {
    width: 335px;
    background-color: transparent;
    border: 1px solid rgba($grey-4, 0.2);
    border-radius: 4px;
    color: $white;

    .MuiInputBase-input {
      padding-left: 10px;

      &::placeholder {
        color: $grey-4;
        opacity: 1;
      }
    }

    &.MuiOutlinedInput-root.Mui-focused {
      .MuiOutlinedInput-notchedOutline {
        border-color: $white;
      }
    }
  }
}

.mui-toolbar {
  margin-bottom: 60px;

  &.MuiToolbar-root {
    background-color: $bg-card;
    display: flex;
    justify-content: space-between;
    padding: 20px;
  }
}

.MuiPaper-root.MuiTableContainer-root {
  box-shadow: none;
}

@media (max-width: 1023px) {
  .mui-table {
    .MuiTable-root {
      border-collapse: separate;
      border-spacing: 0px 10px;
    }

    &.MuiPaper-root.MuiTableContainer-root {
      .MuiTableRow-root {
        .MuiTableCell-root {
          padding: 14px 10px;
        }
      }
    }

    .MuiTableBody-root {
      .MuiTableRow-root {
        background-color: $bg-card;
      }
    }
  }
}

@media (max-width: 767px) {
  .mui-searchbar {
    .MuiInputBase-root {
      width: 100%;
    }
  }

  .table {
    &-watchlist {
      max-width: 100%;
    }
  }
}

@media (max-width: 425px) {
  .mui-table {
    &.MuiPaper-root.MuiTableContainer-root {
      .MuiTableRow-root {
        .MuiTableCell-root {
          padding: 14px 3px;

          &:first-child {
            text-align: center;
          }
        }
      }
    }

    .table-cell.MuiTableCell-root {
      gap: 5px;
    }
  }
}
