@import "../../styles/_variables.scss";

.currency-item {
  padding: 24px 0 30px 0;

  &-wrapper {
    display: grid;
    grid-template-columns: 5fr 1fr;
    gap: 24px;

    &__main {
      display: grid;
      gap: 24px;
    }

    &__header {
      display: grid;
      grid-template-columns: 1fr 5fr;
      gap: 24px;
    }
  }

  &-mobile-summary {
    display: none;
  }

  &-summary {
    padding: 10px 20px;
    background-color: $bg-card;
    border-radius: 4px;

    &__wrapper {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    &__label {
      color: $grey-8;
      font-size: 14px;
    }

    &__cost {
      margin-top: 5px;
      &::before {
        content: "$ ";
      }
    }

    &__change {
      display: flex;
      margin-top: 5px;

      &-usd {
        display: inline;

        &::before {
          content: "$ ";
        }
      }

      &-percent {
        display: flex;
        align-items: center;
        margin-left: 7px;

        .MuiSvgIcon-root {
          margin-right: 2px;
        }

        &::after {
          content: "%";
        }
      }
    }
  }

  &-graph {
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    background-color: $bg-card;
    padding: 20px 5px;

    &-toolbar {
      text-align: center;
      position: relative;

      background-color: $bg-card-3;
      border-top-left-radius: 4px;
      border-top-right-radius: 4px;
      padding: 4px 25px;

      .MuiButtonBase-root.MuiButton-root {
        padding: 5px 15px;
        color: $grey-4;

        &:not(:last-of-type),
        &:not(:last-of-type):disabled {
          border: none;
        }

        &:disabled {
          color: $grey-8;
        }

        &.active {
          color: $primary-blue-dark;
        }

        .MuiSvgIcon-root {
          font-size: 25px;
          color: $grey-6;
        }
      }

      .MuiButtonBase-root.MuiIconButton-root {
        position: absolute;
        color: $grey-4;
        right: 0px;
        top: 0px;
        transform: translate(-50%, 25%);

        &:disabled {
          color: $grey-8;
        }
      }
    }

    canvas {
      margin: 0 auto;
    }
  }
}

.mui-select-bookmarks {
  &.MuiSelect-select.MuiInputBase-input.MuiOutlinedInput-input {
    display: flex;
    align-items: center;
    background-color: $bg-card;
    font-size: 20px;

    .MuiSvgIcon-root {
      color: $primary-blue-dark;
      padding-right: 5px;
      height: 20px;
      width: 20px;
    }
  }

  &_not-bmarked {
    &.MuiSelect-select.MuiInputBase-input.MuiOutlinedInput-input {
      .MuiSvgIcon-root {
        color: $grey-6;
      }
    }
  }
}

.mui-option-bookmarks {
  &.MuiButtonBase-root.MuiMenuItem-root {
    display: flex;
    align-items: center;
    font-size: 20px;

    .MuiSvgIcon-root {
      color: $primary-blue-dark;
      padding-right: 5px;
      height: 20px;
      width: 20px;
    }
  }

  &_not-bmarked {
    &.MuiButtonBase-root.MuiMenuItem-root {
      .MuiSvgIcon-root {
        color: $grey-6;
      }
    }
  }
}

.orders {
  position: sticky;
  top: 24px;
  background-color: $bg-card;
  padding: 20px 10px 25px 10px;
  max-height: calc(100vh - 90px);
  overflow: hidden;

  &__header {
    font-size: 20px;
    font-weight: 600;
    text-align: center;
  }

  .h-line {
    margin-top: 24px;
    margin-bottom: 20px;
  }

  &-tables {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 15px;
  }

  &-table {
    &.MuiPaper-root.MuiTableContainer-root {
      max-height: calc(50vh - 90px);
      overflow: auto;
      background-color: transparent;

      .MuiTableHead-root .MuiTableCell-root {
        padding: 0px;
        background-color: $bg-card;
        color: $grey-8;
        border: none;
      }

      .MuiTableBody-root .MuiTableCell-root {
        padding: 0px;
        border-bottom: 3px solid $bg-card;
      }
    }

    &-purchases {
      .MuiTableBody-root .MuiTableCell-root {
        background-color: rgba($color: $success, $alpha: 0.2);

        &:first-of-type {
          color: $success;
          background-color: transparent;
        }
      }
    }

    &-sales {
      .MuiTableBody-root .MuiTableCell-root {
        background-color: rgba($color: $error, $alpha: 0.2);

        &:first-of-type {
          color: $error;
          background-color: transparent;
        }
      }
    }

    &::-webkit-scrollbar {
      width: 7px;
    }

    &::-webkit-scrollbar-track {
      background: $bg-card-3;
    }

    &::-webkit-scrollbar-thumb {
      background: #777;
    }
  }
}

.market-overview {
  &-mobile {
    display: none;

    &__title {
      text-align: center;
      font-size: 26px;
      font-weight: 600;
      padding-top: 20px;
    }

    &__back {
      &.MuiButtonBase-root.MuiIconButton-root {
        position: absolute;
        top: 15px;
        left: 15px;
      }
    }
  }
}

@media (max-width: 1350px) {
  .currency-item {
    &-wrapper {
      grid-template-columns: 100%;
    }
  }

  .orders {
    display: none;
  }
}

@media (max-width: 1023px) {
  .currency-item {
    padding-top: 0;
    &-mobile-summary {
      display: block;

      &__img {
        width: 48px;
        height: auto;

        img {
          vertical-align: middle;
        }
      }

      &__wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;

        &-inner {
          display: flex;
          align-items: center;
          gap: 14px;
        }
      }

      &__label {
        color: $grey-8;
        font-size: 16px;
        line-height: 26px;
        margin-bottom: 8px;
      }

      &__stats {
        display: flex;
        align-items: center;
        gap: 20px;
      }

      &__change {
        display: flex;
      }
    }

    &-graph {
      background-color: transparent;

      &-toolbar {
        background-color: $bg-card;
        border-radius: 0px;
        padding: 0;

        .MuiButtonBase-root.MuiButton-root {
          width: auto;
        }

        .MuiButtonBase-root.MuiIconButton-root {
          display: none;
        }
      }
    }

    &-wrapper__header {
      grid-template-columns: 100%;

      .MuiInputBase-root.MuiOutlinedInput-root {
        display: none;
      }

      .currency-item-summary {
        display: none;
      }
    }
  }

  .market-overview {
    &-mobile {
      display: block;
    }
  }
}

@media (max-width: 425px) {
  .market-overview {
    &-mobile {
      &__back {
        &.MuiButtonBase-root.MuiIconButton-root {
          top: 15px;
          left: 5px;
        }
      }
    }
  }
}

// gap=0 на 787 и меньше мб 425 актуально
// padding=5,8 кнопок фильтров
// .currency-item-mobile-summary__wrapper-inner на 1023, изменить гап на 4px на 425 мб
// ВСЕ ДОЛЖНО ЦИВИЛЬНО СМОТРЕТЬСЯ НА 320W
// формы покупки и продажи, width 100% хз на каком разрешении
// вырвать в абсолют табы, засунуть в три точки как в хедере