@import "../../styles/_variables.scss";

.currency-item {
  padding: 24px 0 30px 0;
  &-wrapper {
    display: grid;
    grid-template-columns: 5fr 1fr;
    gap: 24px;

    &__main {
      background-color: gray; //-
      display: grid;
      gap: 24px;
    }

    &__header {
      display: grid;
      grid-template-columns: 1fr 5fr;
      gap: 24px;
    }
  }

  &-order {
    background-color: gray; //-
  }

  &-graph,
  &-trade {
    background-color: darkgreen; //-
  }
}

.mui-select-bookmarks {
  &.MuiSelect-select.MuiInputBase-input.MuiOutlinedInput-input {
    display: flex;
    align-items: center;

    .MuiSvgIcon-root {
      color: $primary-blue-dark;
      padding-right: 5px;
      height: 20px;
      width: 20px;
    }
  }

  &_not-bmarked {
    &.MuiSelect-select.MuiInputBase-input.MuiOutlinedInput-input {
      .MuiSvgIcon-root {
        color: $grey-6;
      }
    }
  }
}

.mui-option-bookmarks {
  &.MuiButtonBase-root.MuiMenuItem-root {
    display: flex;
    align-items: center;

    .MuiSvgIcon-root {
      color: $primary-blue-dark;
      padding-right: 5px;
      height: 20px;
      width: 20px;
    }
  }

  &_not-bmarked {
    &.MuiButtonBase-root.MuiMenuItem-root {
      .MuiSvgIcon-root {
        color: $grey-6;
      }
    }
  }
}
