@import "../../styles/_variables.scss";

.currency-item {
  padding: 24px 0 30px 0;
  &-wrapper {
    display: grid;
    grid-template-columns: 5fr 1fr;
    gap: 24px;

    &__main {
      background-color: gray; //-
      display: grid;
      gap: 24px;
    }

    &__header {
      display: grid;
      grid-template-columns: 1fr 5fr;
      gap: 24px;
    }
  }

  &-summary {
    padding: 10px 20px;
    background-color: $bg-card;
    border-radius: 4px;

    &__wrapper {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    &__label {
      color: $grey-8;
      font-size: 14px;
    }

    &__cost {
      margin-top: 5px;
      &::before {
        content: "$ ";
      }
    }

    &__change {
      display: flex;
      margin-top: 5px;

      &-usd {
        display: inline;

        &::before {
          content: "$ ";
        }
      }

      &-percent {
        display: flex;
        align-items: center;
        margin-left: 7px;

        .MuiSvgIcon-root {
          margin-right: 2px;
        }

        &::after {
          content: "%";
        }
      }
    }
  }

  &-order {
    background-color: gray; //-
  }

  &-graph {
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    background-color: $bg-card;
    height: 550px;
    padding: 20px 0;

    &-toolbar {
      text-align: center;
      position: relative;

      background-color: $bg-card-3;
      border-top-left-radius: 4px;
      border-top-right-radius: 4px;
      padding: 4px 25px;

      .MuiButtonBase-root.MuiButton-root {
        padding: 5px 15px;
        color: $grey-4;

        &:not(:last-of-type),
        &:not(:last-of-type):disabled {
          border: none;
        }

        &:disabled {
          color: $grey-8;
        }

        &.active {
          color: $primary-blue-dark;
        }

        .MuiSvgIcon-root {
          font-size: 25px;
          color: $grey-6;
        }
      }

      .MuiButtonBase-root.MuiIconButton-root {
        position: absolute;
        right: 0px;
        top: 0px;
        transform: translate(-50%, 25%);
      }
    }

    canvas {
      margin: 0 auto;
      width: 100%;
      height: 100%;
    }
  }

  &-trade {
    background-color: darkgreen; //-
  }
}

.mui-select-bookmarks {
  &.MuiSelect-select.MuiInputBase-input.MuiOutlinedInput-input {
    display: flex;
    align-items: center;
    background-color: $bg-card;
    font-size: 20px;

    .MuiSvgIcon-root {
      color: $primary-blue-dark;
      padding-right: 5px;
      height: 20px;
      width: 20px;
    }
  }

  &_not-bmarked {
    &.MuiSelect-select.MuiInputBase-input.MuiOutlinedInput-input {
      .MuiSvgIcon-root {
        color: $grey-6;
      }
    }
  }
}

.mui-option-bookmarks {
  &.MuiButtonBase-root.MuiMenuItem-root {
    display: flex;
    align-items: center;
    font-size: 20px;

    .MuiSvgIcon-root {
      color: $primary-blue-dark;
      padding-right: 5px;
      height: 20px;
      width: 20px;
    }
  }

  &_not-bmarked {
    &.MuiButtonBase-root.MuiMenuItem-root {
      .MuiSvgIcon-root {
        color: $grey-6;
      }
    }
  }
}
