@import "../../styles/_variables.scss";

.login {
  padding: 40px 0 20px 0;

  &__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap: 30px;

    &-left {
      width: 35%;
      min-width: 350px;
      text-align: center;
    }

    &-right {
      max-width: 65%;
    }
  }

  &__image {
    width: 100%;
    height: auto;
  }

  &__title {
    font-size: 36px;
    font-weight: 600;
  }

  &-form {
    &__label {
      display: block;
      text-align: left;
      width: 100%;
      font-size: 16px;
      font-weight: 600;
      color: $grey-4;
      padding-bottom: 8px;

      &:nth-of-type(1) {
        margin-top: 60px;
      }

      &:nth-of-type(2) {
        margin-top: 30px;
      }
    }

    &__input {
      display: block;
      width: calc(100% - 29px);
      background-color: transparent;
      padding: 14px;
      border: 1px solid rgba(255, 255, 255, 0.16);
      border-radius: 4px;

      &::placeholder {
        color: $grey-6;
        font-size: 16px;
      }
    }

    &__wrapper-password {
      position: relative;
    }

    &__toggle-password {
      position: absolute;
      top: 0;
      right: 0;
      padding: 0 20px 0 10px;
      height: 100%;
      background-color: transparent;
      border: none;
      cursor: pointer;
    }
  }

  &__password-recover {
    color: $grey-2;
    font-size: 16px;
    margin-top: 20px;
    display: inline-block;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }

  &-sign-up {
    margin-top: 40px;

    &__text {
      color: $grey-6;
      font-size: 16px;
      display: inline;
      margin-right: 4px;
    }

    &__link {
      color: $grey-2;
      font-size: 16px;
      font-weight: 600;
      text-decoration: none;

      &:hover {
        text-decoration: underline;
      }
    }
  }

  &__copyright {
    color: $grey-8;
    font-size: 16px;
    margin-top: 50px;
  }
}
